<title>{{ page.title }}</title>

<meta name="description" content="{{site.title}} - {{page.title}}">
<meta name="keywords" content="art, arte, portfolio">
<meta charset="utf-8">

<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700%7CSource+Code+Pro:400" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicons/favicon.ico">

{% if page.swipebox %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/swipebox.min.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous">
  </script>
  <script src="{{ site.baseurl }}/js/jquery.swipebox.min.js"></script>
{% endif %}
