<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{site.social.twitter_user}}">
<meta name="twitter:title" content="{{page.title}}">
<meta name="twitter:description" content="{{site.title}} - {{page.title}}">
<meta name="twitter:creator" content="@{{site.social.twitter_user}}">

<meta property="og:title" content="{{page.title}}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{site.url}}{{site.baseurl}}{{page.url}}">
<meta property="og:description" content="{{site.title}} - {{page.title}}">
<meta property="og:site_name" content="{{site.title}}">
<meta property="article:publisher" content="https://www.facebook.com/{{site.social.facebook_user}}">

{% assign basepath = site.url | append: site.baseurl %}
{% if page.cover %}
  {% assign coverImagePath = basepath | append: page.cover %}
{% else %}
  {% assign coverImagePath = basepath | append: "/assets/posts" | append: page.url | append: "cover.jpg" %}
{% endif %}

<meta name="twitter:image" content="{{ coverImagePath }}">
<meta property="og:image" content="{{ coverImagePath }}">
