$BACKGROUND: rgba(255,255,255,1);
$TEXT-BACKGROUND: rgba(255,255,255,1);

$TEXT-BASE: rgba(0,0,0,1);
$TITLE-COLOR: lighten($TEXT-BASE, 10%);
$TEXT-COLOR: lighten($TEXT-BASE, 20%);

$LINK-COLOR: $TITLE-COLOR;
$LINK-COLOR-VISITED: $LINK-COLOR;
$LINK-COLOR-HOVER: lighten($LINK-COLOR, 50%);

$MENU-BACKGROUND-COLOR: rgba(255,255,255,1);
$MENU-TEXT-COLOR: rgba(40,40,40,1);
$MENU-TEXT-HOVER-COLOR: lighten($MENU-TEXT-COLOR, 40%);

$DESKTOP-WIDTH-SITE: 1280px;
$COLUMN-WIDTH: $DESKTOP-WIDTH-SITE/4;

$TRANSITION-PERIOD: 0.1s;
$RESPONSIVE-SPACING: 2vw;
$MENU-ITEM-SPACING: 4px;
$MENU-WIDTH: 280px;

$two_columns: 2 * $COLUMN-WIDTH;
$three_columns: 3 * $COLUMN-WIDTH;

@mixin media-query($canvas) {
  @if $canvas == DESKTOP {
   @media only screen and (min-width: $two_columns) { @content; }
  }
  @else if $canvas == LGDESKTOP {
   @media only screen and (min-width: $three_columns) { @content; }
  }
}
