@import 'constants';

$FAMILY-SANS: 'Raleway', 'Arial';

$MENU-TITLE-SIZE: 1.1rem;
$MENU-SUBTITLE-SIZE: 1.1rem;
$MENU-ITEM-SIZE: 1rem;

$TITLE-SIZE: 2.2vw;
$TEXT-SIZE: 1.6vw;
$LINK-SIZE: 1.7vw;

$TITLE-SIZE-MOBILE: 1.5rem;
$TEXT-SIZE-MOBILE: 1rem;
$LINK-SIZE-MOBILE: 1rem;

@mixin fonts {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
  }

  body {
    font: normal $TEXT-SIZE-MOBILE $FAMILY-SANS;
    word-spacing: 3px;
    color: $TEXT-COLOR;

    @include media-query(DESKTOP) {
      font: normal $TEXT-SIZE $FAMILY-SANS;
    }
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  s {
    text-decoration:line-through;
  }

  a {
    font: 900 $LINK-SIZE-MOBILE $FAMILY-SANS;
    color: $LINK-COLOR;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: color $TRANSITION-PERIOD linear;

    @include media-query(DESKTOP) {
      font: 900 $LINK-SIZE $FAMILY-SANS;
    }

    &:visited {
      color: $LINK-COLOR-VISITED;
    }

    &:hover {
      color: $LINK-COLOR-HOVER;
    }
  }

  #navbar, #navbar-shadow {
    .menu-item {
      font-size: $MENU-TITLE-SIZE;
      font-weight: 900;
      color: $MENU-TEXT-COLOR;
      text-transform: none;

      @include media-query(DESKTOP) {
        font-size: $MENU-TITLE-SIZE;
      }

      &:visited {
        color: $MENU-TEXT-COLOR;
      }

      &:hover {
        color: $MENU-TEXT-HOVER-COLOR;
      }
    }

    .menu-subtitle {
      font-size: $MENU-SUBTITLE-SIZE;
      @include media-query(DESKTOP) {
        font-size: $MENU-SUBTITLE-SIZE;
      }

      &:hover {
        color: $MENU-TEXT-COLOR;
      }
    }

    .menu-item-post, .menu-item-page {
      font-size: $MENU-ITEM-SIZE;
      font-weight: normal;
      @include media-query(DESKTOP) {
        font-size: $MENU-ITEM-SIZE;
      }
    }
  }

  .menu-title {
    font-size: $MENU-TITLE-SIZE;
    @include media-query(DESKTOP) {
      font-size: $MENU-TITLE-SIZE;
    }
  }

  .menu-icon {
    font: 900 1.5rem $FAMILY-SANS;
    color: $LINK-COLOR;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: color $TRANSITION-PERIOD linear;

    &:hover {
      color: $LINK-COLOR-HOVER;
    }
  }

  #post {
    .post-title {
      font: bold $TITLE-SIZE-MOBILE $FAMILY-SANS;
      color: $TITLE-COLOR;
      text-transform: uppercase;
      text-align: center;

      @include media-query(DESKTOP) {
        font: bold $TITLE-SIZE $FAMILY-SANS;
      }

    }
  }
}
